{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Media Analytics</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper", class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="">
                        Media Content Analytics
                    </a>
                </li>
                <li>
                    <a href="sony">Sony</a>
                </li>
                <li>
                    <a href="samsung">Samsung</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <h1>Media Sentiment: Sony</h1>
                        <p class="lead">This function is used for preprocessing a formatted media sentiment dataset of <mark>Sony</mark></p>
                        <p><strong>Make sure fill and upload data in an exactly same formatted excel file as
                            <a href="{% static 'files/upload_data_sony.xlsx' %}">this template</a>.</strong>
                        </p>
                        <p><strong>Processing data will take a while. The result will be automatically downloaded.</strong></p>
                    </div>

                    <div class="col-lg-12">
                        <form action="" enctype="multipart/form-data"  method="post" class="well" id="upload-excel">
                            <table>
                                {{ form.as_p }}
                            </table>
                            {% csrf_token %}
                            <input type="submit" class="btn btn-default" value="Submit and Process" id="submit-bnt">
                        </form>
                        {% if messages %}
                            <ul class="messages">
                                {% for msg in messages %}       
                                    <li>
                                        <div class="alert alert-{{msg.level_tag}}" role="alert">
                                            {{msg.message}}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-lg-12">
                        <h4>Details:</h4>
                        <ul>
                            <li>There are two sheets in the upload excel file. The first contains <em>raw media data</em>. The second contains <em>user-defined parameters</em> for analysis. The parameters, which you can edit accordingly, are as follows:</li>
                                <ul>
                                    <li><code>Target_Title</code>: here you can list all article titles that you want to mark as 'published' </li>
                                    <li><code>Brand</code>: important words that can be used to identify whether an article is related to <strong>Sony</strong> rather than other brands, which could be a brand name, a featured product, or even a special tech term</li>
                                    <li><code>Competitor</code>: import competitors' names</li>
                                    <li><code>Keyword</code>: important words that can be used to identify an article is related to TV rather than other products, such as a mobile phone or a computer monitor</li>
                                    <li><code>Forbidden_Words</code>: titles that contain any of these words would be considered as 'irrelevant'</li>
                                </ul>
                            <li>All articles will be categorized as one of the 3 types: <strong>'published'</strong>, <strong>'relevant'</strong>, <strong>'irrelevant'</strong>. The general logic to categorize these 3 types are as follows.</li>
                                <ul>
                                    <li>An article with a title that satisfies <strong>ANY</strong> of the following requirements will be categorized as <strong>'published'</strong>:</li>
                                    <ul>
                                        <li>Very similar to any of the <code>Target_Titles</code></li>
                                        <li>Similar to any of the <code>Target_Titles</code>, <strong>AND</strong> not from Weixin channel, <strong>AND</strong> related to Sony, <strong>AND</strong> related to TV, <strong>AND</strong> no <code>Forbidden_Words</code></li>
                                    </ul>
                                    <li>An article that is <strong>NOT 'published'</strong> with a title that satisfies <strong>ANY</strong> of the following requirements will be categorized as <strong>'relevant'</strong>:</li>
                                    <ul>
                                          <li>NOT from Weixin channel, <strong>AND</strong> NOT similar to any of the <code>Target_Titles</code>, <strong>AND</strong> related to Sony, <strong>AND</strong> related to TV, <strong>AND</strong> no <code>Forbidden_Words</code></li>
                                          <li>From Weixin channel, <strong>AND</strong> related to Sony, <strong>AND</strong> very related to TV, <strong>AND</strong> no <code>Forbidden_Words</code></li>
                                    </ul>
                                    <li>The rest will be categorized as <strong>'irrelevant'</strong></li>
                                </ul>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
